[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/charaka-hugo-theme"]
	path = themes/charaka-hugo-theme
	url = https://github.com/natarajmb/charaka-hugo-theme.git
